.purple-color{
    color:#9751d8;
}
body{
    font-family:sans-serif;
    color:#777777;
    line-height:26px;
}
.side-things{
    float:left;
}
.right-things{
    float: right;
}
.bal{
    width:50%;
    float:left;
}
.side-img{
    width:50%;
    padding:25%;
}
.primary-btn{
    color:#ffffff;
    background-color:#8845f4;
    padding: 13px 42px 13px 42px;
    border-radius:20px;
    text-decoration:none;
}
h1{
    font-size:2.3em;
}
.container{
    padding-left:4%;
    display:inline-block;
}
.side-image2{
    height:300px;
    width:300px;
    
    
}
.bal2{
    width:50%;
    float:left;
    padding-top: 120px;
}
.experience{
    padding: 30px;
    margin: 30px;
    background-color:rgb(238, 251,255);
    border-radius: 20px;
}
.experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247,.2);
}




